{% extends "movies/base.html" %}

{% block body_block %}
<div class="container mt-4" style="max-width: 900px; margin: 0 auto;">

  <h2 class="mb-3 text-center">Welcome, {{ request.user.username }}</h2>
  <p class="text-center"><strong>Email:</strong> {{ request.user.email|default:"—" }}</p>
  <p class="text-center"><strong>Joined on:</strong> {{ request.user.date_joined|date:"M j, Y" }}</p>

  <hr>

  <h4>Favorite Movies</h4>
  {% if favorites %}
    <div class="favorite-grid">
      {% for movie in favorites %}
        <div class="fav-item">
          {% if movie.poster %}
            <img class="fav-poster" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
          {% endif %}
          
          <h4>{{ movie.title }}</h4>

          <form method="post" action="{% url 'movies:toggle_favorite' movie.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'profile' %}">
            <button type="submit" class="btn remove">Remove</button>
          </form>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">No favorites yet.</p>
  {% endif %}

  <h4 class="mt-4">My Reviews</h4>
  <div class="profile-reviews">
    {% if user_reviews %}
      <ul class="list-group mb-3">
        {% for review in user_reviews %}
          <li class="list-group-item">
            <div class="review-card">
                <img src="{{ review.movie.poster.url }}" alt="{{ review.movie.title }}">
                <div class="d-flex justify-content-between">
                  <strong>{{ review.movie.title }}</strong>
                  <span>
                      {% for i in "12345" %}
                          {% if forloop.counter <= review.rating %}⭐{% else %}☆{% endif %}
                      {% endfor %}
                  </span>
                  <br>
                    {{ review.text }}
                  <br>
                  <small>{{ review.created_at }}</small>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">No reviews yet.</p>
    {% endif %}
  </div>

  <form method="post" action="{% url 'logout' %}" class="mt-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger w-100">Logout</button>
  </form>
</div>
{% endblock %}
