<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CineRate - {% block title_block %}Movie Reviews{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
</head>
<body>

    <!-- Main Content -->
    <div>
        {% block body_block %}
        {% endblock %}
    </div>

    <!-- Sidebar -->
    <div>
        {% block sidebar_block %}
        <!-- Optional?: category list or user info -->
        {% endblock %}
    </div>

    <hr>

    <!-- Navigation -->
    <nav class="navbar">
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'movies:profile' user.id %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'movies:register' %}">Sign Up</a></li>
                <li><a href="{% url 'movies:login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'movies:home' %}">Home</a></li>
            <li><a href="{% url 'movies:movie_list' %}">All Movies</a></li>
        </ul>
    </nav>

    <script src="{% static 'movies/js/scripts.js' %}"></script>
</body>
</html>