{% extends 'movies/base.html' %}

{% block title_block %}My Profile{% endblock %}

{% block body_block %}
    <h1>Your Favorite Movies</h1>
    {% if favorites %}
        <ul>
            {% for fav in favorites %}
                <li>
                    <a href="{% url 'movies:movie_detail' fav.movie.id %}">
                        {{ fav.movie.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't favorited any movies yet.</p>
    {% endif %}
{% endblock %}