:root {
    --cinerate_black: #473335;
    --cinerate_black2:rgb(49, 37, 39);
    --cinerate_black3:rgb(26, 20, 22);
    --cinerate_black4:rgb(19, 14, 17);
    --cinerate_white: #FFFFC7;
    --cinerate_darkcyan: #548687;
    --cinerate_red: #B0413E;
    --cinerate_orange: #FCAA67;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cinerate_black);
    padding-bottom: 60px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    background-image: url('../images/web_bg.png');
}

h1 {
    color: lightseagreen;
    margin: 20px;
}

h2, h3 {
    color: var(--cinerate_red);
    margin-bottom: 15px;
}

p {
    margin: 10px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: var(--cinerate_black3);
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: var(--cinerate_orange);
}

div {
    padding: 20px;
}

.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cinerate_black2);
    height: 80px;
    z-index: 1;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--cinerate_black4);
    color: var(--cinerate_white);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--cinerate_orange);
}

.btn-danger {
    background-color: red;
}

.btn-danger:hover {
    background-color: red;
} 

.btn-success {
    background-color: lightseagreen;
}

.btn-success:hover {
    background-color: teal;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie-card{
    background-color: var(--cinerate_black2);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 5px var(--cinerate_black4); 
    padding: 10px;
    text-align: center;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

form {
    margin-top: 15px;
}

input[type = "text"],
input[type= "email"],
input[type = "password"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 6px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.top-header {
    position: relative;
    background-color: black;
    padding: 10px 20px;
    height: 60px;
}

.site-title {
    color: lightseagreen;
    margin: 0;
    line-height: 40px;
}

.site-logo {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 40px;
    width: auto;
    object-fit: contain;
}

.logout-button {
     background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #0d6efd;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    color: #0a58ca;
}

#main {
    background-color: var(--cinerate_black3);
    margin: auto;
    position: relative;
    z-index: 0;
    width: 95%;
    text-align:center;
}

.search-box {
    color: var(--cinerate_white);
    background-color: var(--cinerate_black4);
    border-color: none;
}